/* * {
    border: 1px solid gray;
} */
body {
    background: #36B1BF;
    box-sizing: border-box;

}

.wrapper {
    max-width: 500px;
    margin: 10% auto;
    padding: 32px;
    border: 1px solid#a5a0a08f;
    background: #fbf3d1;
    border-radius: 10px;
}
.todos {
    margin-bottom: 20px;
}

.todo {
    display: flex;
    align-items: center;
    margin-top: 12px;
    padding: 12px;
}

.todo:hover {
    background: #fffbe8;
    border-radius: 30px;
    padding: 12px;
}

.todo-list {
    flex: 1;
    color: #36B1BF;
}
.todo:hover .btn-delete {
    opacity: 100;
    color: red;
    border: 2px solid red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background: #fbf3d1;
    z-index: 30px;
}

input[type=checkbox] {
    cursor: pointer;
    font-size: 14px;
    width: 15px;
    height: 12px;
    position: relative;
    margin: 0 15px 6px 2px;
}

input[type=checkbox]:after {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    content: " ";
    background: #fffbe8;
    color: #fff;
    display: inline-block;
    visibility: visible;
    border-radius: 3px;
    border: 1px solid #36B1BF;

}

input[type=checkbox]:checked:after {
    content: "v";
    font-size: 18px;
    text-align: center;
    color: #36B1BF;
}

/* .todo.done .todo-list {
    text-decoration: line-through;
} */
.checked .todo-content{
    text-decoration: line-through;
    color: #36B1BF;
}
.title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.title-line {
    height: 5px;
    border-radius: 100px;
    margin: 5px 0 20px 0;
    background: #36B1BF;
}

.input-block {
    display: inline-flex;
    align-items: center;
}

.btn-add {
    width: 30px;
    height: 30px;
    border: 2px solid #36B1BF;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    color: #36B1BF;

}

.btn-add:hover {
    color: #FFCB05;
    border: 2px solid #FFCB05;
}

.btn-delete {
    opacity: 0;
    /* width: 30px;
    height: 30px;
    border: 2px solid #36B1BF;
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    color: #36B1BF;
    background: #fbf3d1; */
}

.btn-delete:hover {
    opacity: 100;
    color: red;
    border: 2px solid red;
    width: 30px;
    height: 30px;
    /* border: 2px solid #36B1BF; */
    border-radius: 50%;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    /* color: #36B1BF; */
    background: #fbf3d1;
}

.input-todo {
    width: 420px;
    height: 15px;
    border-radius: 100px;
    margin: 14px;
    color: #36B1BF;
    padding: 5px;
    border: none;
    background: #fffbe8;
} 
.todo-options {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-radius: 10px;
}
.todo-completed {
    display: flex;
}
.todo-item {
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.todo-item:hover, .active{
    border: 1px solid #36B1BF;
}
.all {
    background: #2169D9;
    color: white;
}
.clear-all {
    padding: 5px 10px;   
}
.clear-all:hover {
    background: #ff4d4d;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}
.btn-save {
    background: #2169D9;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
}
.btn-save:hover {
    background: green;
}
